<center><img src="https://i.imgur.com/m0YMsCZ.png" style ="width:300px">
<br>
<br>

<div class="card-columns" style="text-align: center">
  
  <div class="card border-primary" style="width:200px">
  <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-2978.png" alt="Card image">
  <div class="card-body" style="text-align: center">
    <a href="/categories/guitars">Guitars</a>
  </div>
 </div>

 <div class="card border-primary" style="width:200px">
   <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-2856.png" alt="Card image">
   <div class="card-body" style="text-align: center">
     <a href="/categories/drums">Drums</a>
   </div>
  </div>
 
 <div class="card border-primary" style="width:200px">
 <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-2864.png" alt="Card image">
 <div class="card-body" style="text-align: center">
   <a href="/categories/basses">Basses</a>
 </div>
</div>


 <div class="card border-primary" style="width:200px">
  <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-1661.png" alt="Card image">
  <div class="card-body" style="text-align: center">
    <a href="/categories/keyboards">Keyboards</a>
  </div>
 </div>

 <div class="card border-primary" style="width:200px">
  <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-1263.png" alt="Card image">
  <div class="card-body" style="text-align: center">
    <a href="/categories/amps">Amps</a>
  </div>
 </div>

 <div class="card border-primary" style="width:200px">
  <img class="card-img-top" src="https://rocknrollrentals.com/images/product/medium/ae00-2706.png" alt="Card image">
  <div class="card-body" style="text-align: center">
    <a href="/categories/recording">Recording</a>
  </div>
 </div>
</div>
