<<<<<<< HEAD
<h1><%= @user.name %> Show Page </h1>

<%= button_to 'log_out', {:controller => :sessions, :action => 'destroy'}, :method => :delete %>
=======
<h1> user show page </h1> 
>>>>>>> c422a5cc626c6afcd8dfdd51271bc58c9d244259
