<% @category.find do | cat | %> 
    <h1 class="display-2 text-primary" style="text-align: center"><%= cat.category.upcase%></h1>
<% end %>

<br> 


<div class="card-columns" style="text-align: center">
    <% @category.each do | instr | %>
    
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=instr.image_url%>" alt="guitar">
            <div class="card-body">
                <p class="card-text"><%=link_to instr.name, instrument_path(instr.id) %></p>
            </div>
        </div>
    
    <% end %> 
</div>
