<!-- Footer -->
<footer class="page-footer font-small  pt-4">

  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  <img src="https://i.imgur.com/m0YMsCZ.png" style ="width:100px"><br>
  © 2020 Copyright:
    <a href="https://www.linkedin.com/in/marcus-siegel-0913289a/"> Marcus Siegel &</a>
    <a href="https://www.linkedin.com/in/haley-proctor/"> Haley Proctor</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->